<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="icon" href="data:,">
  <!-- above line Important as browser by default fetches favicon.ico on every
  GET request which ruins the database structure. This turns off browsers
  default behaviour for favicon.ico. -->
  <title>To do List</title>
</head>

<body>
